@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
html {
  font-size: 16px;
  min-height: 100%;
}
.steveImage{
  height:40rem;
  width:30em;
}

@media screen and (max-width: 800px) {
  html {
      font-size: 9px;
  }
}

.anim{
  animation:badass 1s linear infinite;
}
body{
  background-color: rgb(235, 235, 235);
}
.navbar{
  font-size: 5rem;
  padding: 0px;
  width: 30rem;
  height: 10rem;
  display: flex;
  margin: 0;
  border-bottom: 2px solid rgb(187, 187, 187);
  background-color: RGB(50,50,50);
  z-index: 10000;
}

.steveType{
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top:2rem;
}

.steveButton{
  height:4rem;
  width:8rem;
  font-size: 1.5rem;
  margin: 1rem;
  border-radius: .4rem;
  border: 2px solid black;
  align-items: center;
  align-content: center;
  display:flex;
  text-align: center;
  text-decoration: none;
}

.steveButton:hover{
  background-color: RGB(50,50,50);
}
.steveButton:hover .link{
  color:white;
}
.link{
  margin-left: 1.8rem;
  color: black;
}
.double{
  margin-left: 1rem;
}
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.App{
  align-items: center;
  justify-content: center;
  position: center;
  margin: auto;
}

@keyframes badass{
  0%{
    content: url('Images/bad1.png');
  }
  50%{
    content: url('Images/bad2.png');
  }
}